@charset "UTF-8";

.plugin-image {
    position: relative;
}
.plugin-image .description-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%; 
}
.plugin-image .background {
    width: 100%;
   //background: black;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.plugin-image .description {
    padding: 10px;
    color: white;
    z-index: 10;
    position: relative;
}

/* SYSTEM DIALOG */
#jbmslideshow-dialog input.field-description {
    width: 70%;
    min-width: 250px;
}