@charset "UTF-8";

#content { overflow: visible; }

#content > .wrapper {overflow: visible; }

#jbmslideshow-show {overflow: visible !important; }
#jbmslideshow-show > div {float: left; }
#jbmslideshow-show .player {width: 66%; text-align: left; position: relative; }
#jbmslideshow-show .slides {width: 33%; text-align: right; float: right; position: relative; }
#jbmslideshow-show #jbmslideshow_player {opacity: 0;}
#jbmslideshow-show .slides .youtube-item {
    width: 100% !important; 
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
}
#jbmslideshow-show .slides .slide {
    display: inline-block; 
    margin-left: 1%;
    margin-right: 2%;
    width: 47%;
    cursor: pointer;
}
#jbmslideshow-show .slides .slide .youtube-item:hover {
    -webkit-box-shadow: 4px 4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 3px rgba(50, 50, 50, 0.75);
}

#jbmslideshow-show .fullscreen-button {
    display: block;
    position: absolute;
    top: 10px;
    padding: 0 6px;
    padding-right: 20px;
    text-shadow: 1px 1px gray;
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 94%;
    text-align: right;
    cursor: default;
}
#jbmslideshow-show .page {width: 100%; text-align: justify;}
/* navigation */
div#jbmslideshow-show .jbmslideshow-navi {
    position: absolute;
    z-index: 200 !important;
    top: 35% !important;
    width: 100% !important;
}

#jbmslideshow-show.small-screen .player-container {
    font-size: 80%; 
    border-bottom: thin solid #dedede;
    margin-bottom: 20px;
    width: 100%;
}
#jbmslideshow-show.small-screen .player-container .readmore {
    display: block;
    clear: both;
    width: 100%;
}
#jbmslideshow-show.small-screen .player-container .player { width: 100%; }
#jbmslideshow-show.small-screen .player-container iframe {
    width: 100%;
    height: auto;
}