@charset "UTF-8";

div.jbmslideshow-content .slide.youtube {
}

div.jbmslideshow-content .slide.youtube img {
    width: 100%;
    height: auto;
}

div#jbmslideshow-dialog.youtube .item {float: left; margin: 5px; height: 150px; position: relative; overflow: visible; border: thin solid gray; border-radius: 4px;}
div#jbmslideshow-dialog.youtube input.search-input {width: 90%;
    line-height: 1.2em;
    font-size: 1.5em;
    vertical-align: middle;
    border-radius: 4px;
    padding: 4px;
}
div#jbmslideshow-dialog.youtube .item .data {position: absolute; z-index: 10; width:100%; height: 100%; display: none; left: 0; top: 0;}
div#jbmslideshow-dialog.youtube .item .data .wrapper {padding: 5px; background-color: darkred; border: 3px solid #fff;}
div#jbmslideshow-dialog.youtube .item .data .bg {position: absolute; top: 0; left: 0; opacity: 0.7; background-color: #000; z-index: -1; border-radius: 3px; width: 100%; height: 100%;}
div#jbmslideshow-dialog.youtube .item:hover .data {display: block;}
div#jbmslideshow-dialog.youtube .item .label {margin:0; padding:0; color: red; }
div#jbmslideshow-dialog.youtube .item img {height: 100%; width:auto; }
div#jbmslideshow-dialog.youtube .load-more {margin-top: 20px; display:block; clear: both; }
div#jbmslideshow-dialog.youtube .item .thumbnail-preview {width:60px; height:33px; display:inline-block; margin-left:5px; background-size: cover;}
div#jbmslideshow-dialog.youtube .item .thumbnail-preview:hover {border:thin solid red;}