@charset "UTF-8";

#content { overflow: visible;}

#content > .wrapper {overflow: visible;}

#jbmslideshow-show {overflow: visible !important;}

#jbmslideshow-show .link-wrapper {position: absolute; bottom: 0;left:0; padding: 10px; background-color: gray; opacity:0.8; display:none;}
#jbmslideshow-show .link {color: white; line-height: 1em;}
#jbmslideshow-show .slide:hover .link-wrapper {display:block;}
