@charset "UTF-8";
#jbmslideshow-dialog .selectlist {background-color: transparent; border: 0;}
#jbmslideshow-dialog .selectlist a {color: white;}
#jbmslideshow-dialog .selectlist a:hover {color: gray;}
