@charset "UTF-8";

div.jbmslideshow-content .slide.pagebreak {
    float: none !important;
    width: 99% !important;
    clear: both;
    min-height: 20px;
    text-align: center;
    background-color: white;
    color: black;
    border: thin dashed gray;
}

div.jbmslideshow-content .slide.pagebreak .title {
    display: inline;
    font-weight: bold;
    line-height: 2em;
}

div.jbmslideshow-content .slide.pagebreak .title:before {
    content: 'pagebreak: ';
    color: gray;
    font-weight: normal;
}

#jbmslideshow-dialog.pagebreak .field-title {
    width: 90%;
}