@charset "UTF-8";

#jbmslideshow-dialog.link .field-url {
    width: 80%;
    line-height: 1.2em;
    font-size: 1em;
    vertical-align: middle;
    border-radius: 4px;
    padding: 4px;
}

#jbmslideshow-dialog.link .label {
    padding: 0;
}

#jbmslideshow-dialog.link .label.select-label {
    display: block;
    margin-top: 30px;
}

#jbmslideshow-dialog.link iframe.articles {
    width: 100%;
    height: 60%;
}