@charset "UTF-8";

div.jbmslideshow-container .content-wrapper {
    overflow: hidden;
    width: 100%;
}

#jbmslideshow .row-separator {height: 30px;}
#jbmslideshow .categorylist li {float: left; margin-right: 30px;}

#jbmslideshow-show.loading {visibility:hidden;}

#jbmslideshow-show .slide.pagebreak .title {font-size: 1em;}

#jbmslideshow-show .image-frame {position: absolute; overflow: hidden; left: 10%; width: 78%; height: 70%; top: 18%;}
#jbmslideshow-show .image-frame-wrapper {position: relative;}
#jbmslideshow-show .image-frame table {width:100%; height:100%; margin:0; padding: 0;}
#jbmslideshow-show .image-frame table td {vertical-align:middle; text-align: center;}
#jbmslideshow-show .image-frame img {max-height:50%; max-width: 80%;}
#jbmslideshow-show .image-frame.loading img {display:none;}
#jbmslideshow-show .image-frame.loading {
    background-image: url('images/loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
#jbmslideshow-show .image-frame .description {font-size:80%; line-height: 1.5em;}

#jbmslideshow-show .slides {line-height: 0;}
#jbmslideshow-show .page {width:80%; margin-left:10%; position:relative;}

#jbmslideshow-show .slide.image .description-wrapper {display:none;}
#jbmslideshow-show .slide.image {
    line-height:0;
    display: inline-block;
}
#jbmslideshow-show .slide.image:hover {opacity:.8;}
#jbmslideshow-show .slide.image img {width:100%;height:auto;}

#jbmslideshow-show .placeholder {display:inline-block;}

#jbmslideshow-show .preview .preview-icon {
    display: none;
    background-image: url(images/preview.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
#jbmslideshow-show .preview:hover .preview-icon {
    display: block;
}