@charset "UTF-8";

#jbmslideshow .slide.image {line-height: 0;}
#jbmslideshow .plugin-image {
    position: relative;
}
#jbmslideshow .plugin-image .description-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%; 
}
#jbmslideshow .plugin-image .background {
    width: 100%;
   //background: black;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    z-index: 0;
}

/* SYSTEM DIALOG */
#jbmslideshow-dialog input.field-description {
    width: 70%;
    min-width: 250px;
}