@charset "UTF-8";
#jbmslideshow-dialog {color: white;}
div#jbmslideshow .slide {z-index: 0; position: relative;}
div.jbmslideshow-container .content-wrapper {position: relative; display: inline-block; }
div.jbmslideshow-container .jbmslideshow-navi {
    position: absolute;
    z-index: 100;
    top: 40%;
    width: 100%;
    height: 1px;
}
div.jbmslideshow-container .jbmslideshow-navi .prev, div.jbmslideshow-container .jbmslideshow-navi .next {
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999em;
    display: block;
    width: 60px;
    height: 100px;
} 
div.jbmslideshow-container .jbmslideshow-navi .prev {
    background-image: url(images/arrows.png);
    float: left;
}
div.jbmslideshow-container .jbmslideshow-navi .next {
    background-image: url(images/arrows.png);
    background-position: -60px 0;
    float: right;
}

/* MANAGER LAYOUT */
div.jbmslideshow-content.manager .slide { min-height: 50px; border: thin solid #4E4E4E; margin-bottom: 10px; float: left; margin-right: 10px}
div.jbmslideshow-container .add-slide-buttons {margin-top: 30px; clear: both;}
div.jbmslideshow-content .slide-controls {position: absolute; right: 8px; top: 8px; display: none; z-index: 10;}
div.jbmslideshow-content .slide-controls:hover {display: block;}
div.jbmslideshow-content .slide:hover .slide-controls {display: block;}
div.jbmslideshow-content .slide-controls > * {display: block; margin-bottom: 10px; white-space: nowrap;}
div.jbmslideshow-container .tools {margin-bottom: 2em; margin-top: 20px; clear: both;}

div.jbmslideshow-container .button, #jbmslideshow-dialog .button, div.jbmslideshow-container .icon, #jbmslideshow-dialog .icon, div.jbmslideshow-container .selectlist, #jbmslideshow-dialog .selectlist {
    background-repeat: no-repeat;
    background-size: 100%;
    color: gray;
    border: thin solid #4E4E4E;
    border-radius: 3px;
    background-color: white;
    float:left;
    position: relative;
}

div.jbmslideshow-container .button, #jbmslideshow-dialog .button {
    text-decoration: none;
    margin-right: 19px;
    padding: 3px 15px;    
}
div.jbmslideshow-container .icon, #jbmslideshow-dialog .icon {
    width: 20px;
    height: 20px;
    padding: 0;
    display: block;
    margin: 0;
    text-indent: -9999em;
}
div.jbmslideshow-container .selectlist {
    padding: 2px 30px 1px 5px;
    font-size: 12px;
}
div.jbmslideshow-container .icon .selectlist {
    position: absolute;
    top: 100%;
    text-align: left;
}
div.jbmslideshow-container .selectlist.plainlist {
    padding: 5px;
}
div.jbmslideshow-container .selectlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.jbmslideshow-container ul.selectlist-list li, div.jbmslideshow-container .selectlist-additem-input-container {
    position: relative;
}
div.jbmslideshow-container ul.selectlist-list li.item {
    border: thin solid #E4E4E4;
    margin-bottom: 2px;
    text-indent: 0;
}
div.jbmslideshow-container ul.selectlist-list .item-label {margin-right: 30px;}
div.jbmslideshow-container ul.selectlist-list li.item > *, div.jbmslideshow-container .selectlist-add-button {display: inline-block;}
div.jbmslideshow-container .selectlist-delete-button, div.jbmslideshow-container .selectlist-add-button, div.jbmslideshow-container .selectlist-edit-button {
    width: 14px;
    height: 14px;
    background-size: 100%;
    text-indent: -9999em;
}
div.jbmslideshow-container .selectlist-delete-button {
    background-image: url(../images/delete3.png);
    float:right;
}
div.jbmslideshow-container .selectlist-edit-button {
    background-image: url(../images/edit.png);
    float:right;
}
div.jbmslideshow-container .selectlist-add-button {
    background-image: url(../images/add.png);
    top: 5px;
}
div.jbmslideshow-container .selectlist-handle {
    position:absolute;
    right:0;
    top:0;
    width:20px;
    height:20px;
    background-image: url(../images/arr_open.png) !important;
    background-repeat: no-repeat;
    background-position: right top;
}
div.jbmslideshow-container .selectlist.open .selectlist-handle {
    background-image: url(../images/arr_close.png) !important;
    top: auto;
    bottom:0;
}

div.jbmslideshow-container .toolbar .buttons > * {display: inline-block; margin-right: 5px;}
div.jbmslideshow-container a.button:hover, #jbmslideshow-dialog a.button:hover {color: black; }
div.jbmslideshow-container a.add-track-button {color: gray; }
div.jbmslideshow-container a.add-track-button:hover {color: white; }
div.jbmslideshow-container .delete-button, div.jbmslideshow-file-browser .delete-button {
    position: absolute;
    top: 3px;
    right: -25px;
    padding: 3px;
    background: red;
    border: thin solid gray;
    color: white;
    text-align: center;
    font-size: 7px;
    text-decoration: none;
    border-radius: 3px;
    height: 4px;
    line-height: 0.5;
}
div.jbmslideshow-container .settings .form label {font-weight: normal; margin-right: 10px; color: white;}
div.jbmslideshow-container .settings .form input {padding: 7px 10px; font-size: 12px; width: 200px; }
div.jbmslideshow-container input, div.jbmslideshow-container textarea {background: white; border: thin solid gray; color: black; }

/* FILE BROWSER */
div.jbmslideshow-file-browser {height: 100%;}
div.jbmslideshow-file-browser .filelist img {max-height: 150px; min-height: 150px;}
div.jbmslideshow-file-browser .filelist .item-wrapper {margin-right: 10px; margin-bottom: 10px; float: none; position: relative; cursor:pointer;}
div.jbmslideshow-file-browser .filelist .item-wrapper .icon {
    position: absolute !important;
    right: 5px;
    z-index: 10;
    top: 4px;
}
div.jbmslideshow-file-browser .filelist .item-wrapper input.checkbox {
    position: absolute !important;
    right: 30px;
    z-index: 10;
    top: 6px;
    width: 20px;
    height: 20px;
}

div.jbmslideshow-file-browser .filelist .item-wrapper:hover .item-content {opacity: 0.7;}

#popup { position: fixed; top:0; left: 45%; z-index:1000;}
.popup-message {padding: 10; color: white}
.popup-message.success { background-color: lightgreen; }
.popup-message.error {background-color: red; }

#jbmslideshow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#jbmslideshow-overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 10000;
}
#jbmslideshow-overlay-message {
    position: relative;
    top: 45%;
    width: 100px;
    z-index: 10010;
    margin: 0 auto;
    background: black;
    padding: 15px;
    border: thin solid #4E4E4E;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#jbmslideshow-overlay-message a {color: white; text-decoration: none;}
#jbmslideshow-overlay-message a:hover {text-decoration: underline;}

/* SYSTEM DIALOG */
#jbmslideshow-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#jbmslideshow-dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 10000;
}
#jbmslideshow-dialog-container {
    position: fixed;
    top: 10px;
    width: 100px;
    max-height: 90%;
    max-width: 95%;
    z-index: 10010;
    margin: 0 auto;
    background: black;
    padding: 15px;
    border: thin solid #4E4E4E;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    overflow: hidden;
}
#jbmslideshow-dialog-container .content {
    overflow: auto;
    max-height: 88%;
    border: thin solid gray;
}
#jbmslideshow-dialog-container .content .wrapper {
    padding: 10px;
}
#jbmslideshow-dialog-container .buttons {
    margin-top: 15px;
    position: absolute;
    bottom: 15px;
}
#jbmslideshow-dialog-container .dialogHeading {
    font-size: 140%;
}
#jbmslideshow-dialog-container .label {
    color: white;
    padding-left: 10px;
}