/**
 * @copyright	Copyright (C) 2005 - 2012 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

form#mediamanager-form {background:white;}

div.imgOutline {
	float: left;
	border: 1px;

	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #ccc;
	width:90px; }

div.imgTotal { }

div.imgBorder {
	height: 72px;
	vertical-align: middle;
	width: 88px;
	overflow: hidden;
}

div.imgBorder a {
	height: 72px;
	width: 88px;
	display: block;
}

div.imgBorder a:hover {
	height: 72px;
	width: 88px;
	background-color: #f0f0f0;
	color : #FF6600;
}

.imgBorderHover {
	background: #FFFFCC;
	cursor: pointer;
}

div.controls {
	text-align: center;
	height: 20px;
	line-height: 20px;
	background: #f9fcf9;
	border-top: 1px solid #ddd;
}

div.controls input {
	vertical-align: middle;
}

div.controls img {
	vertical-align: middle;
}

div.controls:hover {
	display: block;
}

div.imginfoBorder {
	background: #f9f9f9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 88px;
	height: 15px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
}

div.imgBorder a {
	cursor: pointer;
}

.buttonHover {
	border: 1px solid;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	cursor: pointer;
	background: #FFFFCC;
}

.buttonOut {
	border: 0px;
}

.imgCaption {
	font-size: 9pt;
	text-align: center;
}

.dirField {
	font-size: 9pt;
	width:110px;
}

div.image {
	padding-top: 10px;
}
